.editMemoDate {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 30px;
  width: 100%;
}
.editMemoTitle {
  font-size: 16px;
  width: 250px;
  text-decoration: underline;
}
.editMemoDateComponent {
  width: 250px;
}

@media screen and (max-width: 800px) {
  .editMemoDate {
    width: 100%;
  }
  .editMemoTitle {
    width: 160px;
  }
  .editMemoDateComponent {
    width: 100px;
  }
}
