.date {
  width: min-content;
}
.dateInput {
  border: none;
  font-family: "Ubuntu-regular";
  padding: 0;
  margin: 0;
  background-color: transparent;
  opacity: 0.86;
}
.dateInput:focus {
  outline: none;
}
.dateInput::-webkit-inner-spin-button,
.dateInput::-webkit-calendar-picker-indicator {
  margin-left: 0px;
}
