.menuButton {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 12px;
  margin-right: 15px;
}
.menuButton > div {
  width: 20px;
  height: 2px;
  background-color: #000;
}
.menuButton:hover {
  cursor: pointer;
  opacity: 0.6;
}
