body {
  margin: 0;
  font-family: "Ubuntu-medium";
}

/* Titles and header font */
@font-face {
  font-family: "Oxygen-bold";
  src: url("./assets/fonts/Oxygen/Oxygen-Bold.ttf") format("truetype");
}

/* text fonts */
@font-face {
  font-family: "Ubuntu-regular";
  src: url("./assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu-light";
  src: url("./assets/fonts/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu-medium";
  src: url("./assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu-bold";
  src: url("./assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
}
