.controlledInput {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 225px;
  border-radius: 4px;
  border: 1px solid #ff853b;
  padding: 0 6px;
  font-family: "Ubuntu-medium";
  font-size: 14px;
  color: #807f80;
}
.controlledInput:focus {
  outline: none;
}
.controlledInput:focus::placeholder {
  color: transparent;
}
