.controlledInput {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 225px;
  border: none;
  border-bottom: 1px solid #807f80;
  padding: 0 6px;
  font-family: "Ubuntu-medium";
  font-size: 14px;
  color: #807f80;
  background-color: transparent;
}
.controlledInput:focus {
  outline: none;
}
.controlledInput:focus::placeholder {
  color: transparent;
}
