.footerParagraph {
  margin-top: 37px;
  font-family: "Ubuntu-regular";
  font-style: italic;
  font-size: 24px;
  color: #3d3d39;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .footerParagraph {
    font-size: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .footerParagraph {
    font-size: 16px;
    line-height: 20px;
    margin-top: 160px;
    text-align: center;
    width: 86%;
  }
}
