.datesDiffMessage {
  width: 200px;
  padding: 6px 10px;
  font-family: "Ubuntu-regular";
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.datesDiffMessage > img {
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .datesDiffMessage {
    width: 100%;
  }
}
