.mainMenu {
  position: relative;
  z-index: 500;
  height: 100%;
  min-width: 225px;
  box-shadow: 1px 1px 4px rgb(161, 162, 163);
  background-color: #807f80;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 800px) {
  .mainMenu {
    position: absolute;
    top: 0;
    left: 0;
    animation: slide-in 1s ease-in-out;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-225px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
