.overallTitle {
  display: flex;
  justify-content: space-between;
  margin-left: calc(50% - 340px);
  width: 680px;
  margin-bottom: 37px;
}
.mainHeaderText {
  color: #fff;
  width: 300px;
  font-size: 64px;
  line-height: 64px;
  text-shadow: 1px 2px 6px rgba(161, 162, 163, 1);
}
.subText {
  color: #c3676c;
  font-size: 32px;
  letter-spacing: 0.025px;
  line-height: 38px;
  margin-left: 10px;
}
img {
  height: 100%;
  width: 48px;
}
