.userMenuHeader {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 12px;
  letter-spacing: 0.005px;
  color: #807f80;
  font-size: 12px;
  font-family: "Ubuntu-medium";
  cursor: default;
}
