.taskinTitle {
  color: #ff853b;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 24px;
  font-family: "Ubuntu-bold";
  padding: 6px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  width: fit-content;
}
.taskinTitle > div {
  margin-right: 6px;
}
