.navigationMenu {
  width: 100%;
  margin-top: 10px;
  color: #f6f6f7;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 9px;
  padding-top: 15px;
  font-family: "Ubuntu-light";
  border-top: 1px solid #fff;
}
.navigationMenu .listItem {
  height: 34px;
  display: flex;
  align-items: center;
  padding-right: 7px;
  margin-bottom: 4px;
}
.navigationMenu .listItem:hover {
  font-weight: 600;
  border-radius: 4px;
}
.listItem > img {
  margin-left: auto;
}
.activeListItem {
  font-weight: 600;
  border-radius: 4px;
  color: #ff853b;
}
