.footerParagraph {
  margin-top: 37px;
  font-family: "Ubuntu-regular";
  font-size: 20px;
}

@media screen and (max-width: 1600px) {
  .footerParagraph {
    font-size: 16px;
    margin-top: 20px;
  }
}
