.squareElement {
  width: 160px;
  height: 160px;
  background-color: #50af59;
  box-shadow: 1px 2px 6px rgb(161, 162, 163);
}

@media screen and (max-width: 1600px) {
  .squareElement {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 800px) {
  .squareElement {
    width: 65px;
    height: 65px;
  }
}
