.mapItem {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.mapItem .percent {
  font-size: 10px;
  font-family: "Ubuntu-bold";
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mapItem .counter {
  position: absolute;
  bottom: -12px;
  width: 40px;
  left: calc(50% - 20px);
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu-regular";
}
