.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 64px;
  animation: appear 1.2s ease-in;
}
.homeCenterItems {
  margin-top: 128px;
  width: 800px;
  height: fit-content;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
