.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 64px;
  cursor: default;
}
.homeCenterItems {
  margin-top: 128px;
  width: 800px;
  height: fit-content;
}
.elementsWrapper {
  margin-top: 40px;
  width: 100%;
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

@media screen and (max-width: 1600px) {
  .homeCenterItems {
    margin-top: 60px;
    width: 660px;
  }
  .elementsWrapper {
    margin-top: 25px;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 800px) {
  .homeCenterItems {
    margin-top: 125px;
    width: 330px;
  }
  .elementsWrapper {
    margin-top: 25px;
    margin-bottom: 18px;
  }
}
