.circleElement {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #ff853b;
  box-shadow: 1px 2px 6px rgb(161, 162, 163);
}

@media screen and (max-width: 1600px) {
  .circleElement {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 800px) {
  .circleElement {
    width: 65px;
    height: 65px;
  }
}
