.dotPins {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.dotPins > div {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px gray;
  background-color: #000;
}
