.box {
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;

  border-radius: 6px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 800px) {
  .box {
    width: 100%;
    padding: 16px;
  }
}
