.memosItems {
  max-height: calc(100vh - 127px);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
.emptyMapPlacholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 16%;
}
.emptyMapPlacholder > div {
  width: 190px;
}
.spinnerWrapper {
  display: flex;
  justify-content: center;
  margin-top: 16%;
}

@media screen and (max-width: 800px) {
  .memosItems {
    max-height: calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .emptyMapPlacholder > div {
    width: 150px;
  }
}
