.relativeWrapper {
  position: relative;
}
.memoCard {
  position: relative;
  width: 225px;
  height: 250px;
  height: fit-content;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 6px;
  box-shadow: inset 1px 1px 6px -1px rgba(0, 0, 0, 0.6);
  padding: 16px 12px;
  cursor: default;
}
.completedMemoOpacity {
  opacity: 0.6;
}
.memoTitle {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: "Ubuntu-bold";
  letter-spacing: 0.005px;
  padding-bottom: 4px;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.memoContent {
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 18px;
  height: 115px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 6px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  white-space: pre-wrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .memoCard {
    align-self: center;
    width: 100%;
  }
}
