.editMemoWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 565px;
}
.editMemo {
  font-size: 24px;
  width: 86%;
}
.titleAsLabel {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titleAsInput {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: "Ubuntu-medium";
  border: none;
  background-color: transparent;
}
.titleAsInput:focus {
  outline: none;
}
.editMemo {
  margin-right: auto;
}
