/*TODO: properties that cannot be overriden with inline style should be !important */
.defaultButtonStyle {
  background-color: #fff;
  font-size: 16px;
  line-height: 10px;
  height: 28px;
  min-width: 66px;
  padding: 0 6px;
  border-radius: 4px;
  cursor: pointer;
  color: #c3676c;
  border: 1px solid #c3676c;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonIconWithTitle {
  margin-left: 6px;
}
.defaultButtonStyle img {
  width: 18px;
  margin-bottom: -2px;
  opacity: 0.6;
}
.clickedButtonAnimation {
  transform: translate3d(-1px, 1px, 0px);
}

@media screen and (max-width: 1600px) {
  .defaultButtonStyle {
    height: 24px;
  }
  .defaultButtonStyle img {
    width: 16px;
    margin-bottom: calc(100% - 10px);
    opacity: 0.6;
  }
}
