/*TODO: properties that cannot be overriden with inline style should be !important */
.defaultButtonStyle {
  background-color: #fff;
  font-size: 16px;
  line-height: 10px;
  height: 28px;
  min-width: 66px;
  padding: 0 6px;
  border-radius: 4px;
  cursor: pointer;
  color: #3d3d39;
  border: 1px solid #3d3d39;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonIconWithTitle {
  margin-left: 6px;
}
.defaultButtonStyle img {
  width: 18px;
  margin-bottom: -2px;
  opacity: 0.6;
}
.clickedButtonAnimation {
  transform: translate3d(-1px, 1px, 0px);
}
.defaultButtonStyle:hover {
  background-color: #f4f6f6;
}

@media screen and (max-width: 1600px) {
  .defaultButtonStyle {
    font-size: 14px;
  }
  .defaultButtonStyle img {
    width: 16px;
  }
}
