.header {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 45px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
}
.sortDirectionPicker {
  height: 70px;
  border-bottom: 1px solid #dcdcdc;
  margin-top: 20px;
}
.sortDirectionPicker > div:nth-child(1) {
  margin-bottom: 10px;
}
.sortDirectionPicker > div:nth-child(2) {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
  font-family: "Ubuntu-regular";
  cursor: pointer;
}

.sortingOptionItemsList {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.sortingOptionItemsList > div:nth-child(1) {
  margin-bottom: 10px;
}
.helperDiv {
  width: fit-content;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
  }
  .helperDiv {
    width: 99%;
  }
}
